## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 建立一個隨機的國家人口數 dataframe
df = pd.DataFrame()

In [3]:
df['國家']=['台灣','日本','美國','英國','德國','法國','荷蘭']
df['人口']= np.random.randint( 30000000, size = len(df.index))
df

   國家        人口
0  台灣  23034154
1  日本  17731302
2  美國   6301871
3  英國  16498296
4  德國  17646836
5  法國   6463916
6  荷蘭  24807012

In [4]:
df.iloc[df['人口'].idxmax()]

國家          荷蘭
人口    24807012
Name: 6, dtype: object